.endpoint {
	max-width: calc(30rem - 3rem);
}

.endpoint__background {
  background: rgba(0, 0, 0, 0.45);
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  width: auto !important;
  z-index: 2;
}

.endpoint__btn {
  position: absolute;
  right: 2rem;
  top: 2rem;
}

.endpoint__modal {
  background-color: #fff;
  border-radius: 1rem;
  display: grid;
  margin: 2rem auto 0;
  max-width: 30rem;
  padding: 2rem;
  position: sticky;
  top: 2rem;
}

.endpoint__items {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: relative;
}

.endpoint__item {
  border: 1px solid #ccc;
  border-left: 5px solid #000;
  border-top: 0;
  padding: 0.25rem 1rem;
}

.endpoint__item:first-of-type {
	border-top: 1px solid #ccc;
}

.endpoint__text {
	display: inline-block;
	margin-bottom: 0.25rem;
}

.endpoint__text:last-child {
	margin-bottom: 0;
}


[data-endoint-type] {
	position: relative;
}

[data-endoint-type]::before {
  background: #fff;
  content: attr(data-endoint-type);
  display: inline-block;
  font-size: 0.6rem;
  left: 0.5rem;
  padding: 0.2rem;
  position: relative;
  top: 0.5rem;
}
